.logout-btn {
    width: 100%;
    padding: 0.3rem;
    border-radius: .3rem;
    color: black;
    background-color: #6d767642;
    font-size: medium;
    border: none;
}

.logout-btn:hover{
    background-color: #c5cbd1;
}