/* src/components/AppointmentPage.css */
/* .container {
    max-width: 800px;
    margin: 0 auto;
  } */
  
  .card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
  }
  
  .card-header {
    background-color: #007bff;
    color: white;
    border-bottom: 1px solid #dee2e6;
    padding: 0.75rem 1.25rem;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  .btn {
    padding: 0.75rem;
    font-size: 1rem;
  }
  
  .h2heading {
    color: rgb(78, 138, 78);
  }