/* src/DoctorList.css */
body {
    font-family: Arial, sans-serif;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  background-color: #fff;
  /* margin: 20px; */
  overflow: hidden;
  display: flex;
  align-items: center; /* Centers items vertically */
  }
  .card-image {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-body {
    /* Padding inside the card body to space the content well */
    /* padding: 15px; */
  }
  .card-title {
    color: #007bff;
  }

  .card-content {
    display: flex;
    width: 100%;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .h2heading {
    color: rgb(78, 138, 78);
  }

  .profile_pic {

  }

  .custom-hr {
    border: 0;
    height: 1px;
    background: #adacac; /* Color of the line */
    width: 80%;
    /* margin: 50px 0; Space above and below the line */
    margin: auto;
  }